@import url('https://fonts.googleapis.com/css?family=Open+Sans');
li {
    list-style-type: none;
    
}

li:HOVER
{
	cursor: pointer;
	background-color: skyblue;
}





ul {
	margin: 3px 0px 0px 2px;
	-webkit-padding-start: 2px;
	 
}

/*#divmain input {
	width: 800px;
*/


#raizP{
    
    
	width: 550px;
    font-size: 20px;
    
    margin-top:50px;
    
    
}
input.intro {
	float: left;
	text-align: center;
}
}